<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header::header('课程表')" ></head>
<body>
<div class="container-fluid" id="cc">

	<div th:replace="/main/student/studentinfo"></div>
	<br>
	<div class="row clearfix">
		<div th:replace="/main/student/studentmenu"></div>
		
		<div class="col-md-offset-1 col-md-9 column">
			<div class="jumbotron well" v-for="notice in noticelist">
				<h1>{{notice.title}}</h1>
				<br>
				<p>{{notice.content}}</p>
				<br><br>
				<p align="right">
					 发布人：{{notice.teacherName}}<br>
					 发布日期：{{notice.dateString}}
				</p>
			</div>
			<div>{{msg}}</div>
			
		</div>
		<div class="col-md-offset-5 col-md-5 column">
				<ul class="pagination">
					<li>
						 <a href="#" @click="load(-1)">Prev</a>
					</li>
					<li>
						 <a href="#" @click="load(0)">{{currentPage+1}}</a>
					</li>
					<li>
						 <a href="#" @click="load(1)">{{currentPage+2}}</a>
					</li>
					<li>
						 <a href="#" @click="load(2)">{{currentPage+3}}</a>
					</li>
					<li>
						 <a href="#" @click="load(1)">Next</a>
					</li>
				</ul>
			</div>		
	</div>
</div>




<script>
	var vue=new Vue({
		el:"#cc",
		data:{
			code:'',
			noticelist:null,
			msg:'',
			currentPage:0
		},
		mounted:function(){
			this.load(0);
		},
		methods:{
			load:function(i){
				this.currentPage=this.currentPage+i;
				this.noticelist=null;
				this.msg='';
				axios.get("/classnotice/"+this.currentPage).then(function(response){					
					vue.code=response.data.code;
					
					if(vue.code==200){
						vue.noticelist=response.data.model;
					}else{
						vue.msg=response.data.msg;
					}
					
				});
			}
		}
	});
</script>

</body>
</html>