<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lhz.schoolhelper.mapper.ClassMapper">
	<select id="getClassById" resultType="ClassDo">
		SELECT
		id,college,department,year,name,tid
		FROM
		class
		WHERE
		id = #{id}
	</select>
</mapper>