<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lhz.schoolhelper.mapper.TeacherMapper">

	<select id="getTeacherById" resultType="TeacherDo">
		SELECT
		id,name,identifer,password,role,contact
		FROM
		teacher
		WHERE
		id = #{id}
	</select>
	<select id="getTeacherByIdentiferAndPassword" resultType="TeacherDo">
		SELECT
		id,name,identifer,password,role,contact
		FROM
		teacher
		WHERE
		identifer = #{identifer}
		AND
		password = #{password}
	</select>
	<select id="getTeacherByIdentifer" resultType="TeacherDo">
		SELECT
		id,name,identifer,password,role,contact
		FROM
		teacher
		WHERE
		identifer = #{identifer}		
	</select>

</mapper>